extends layout

block body
  h2 Account Request Form
  div(style="margin-left: 10%; margin-right: 10%;")
    form(action="" method="post")
      .form-group
        label(for='inputEmail') Email for account creation
        input#inputEmail.form-control(type='email' placeholder='Email' name='email' required='required')
      .form-group
        label(for='inputFirstName') First Name (Optional)
        input#inputFirstName.form-control(type='text' placeholder='First Name' name='first_name')
      .form-group
        label(for='inputLastName') Last Name (Optional)
        input#inputLastName.form-control(type='text' placeholder='Last Name' name='last_name')
      br
      button.btn.btn-primary(type='submit') Submit
    if error
      br
      div.alert.alert-danger(role="alert") #{error}
