extends layout

block body
  .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
    main.inner.cover(role='main')
      h1.cover-heading Welcome!
      p.lead
        | The MBSR has started successfuly.
        <br>
        | Any registered API endpoints for the mobile app are now accessible and user registration URL's can now be accessed.
      a(href="https://github.com/brycecorbitt/MBSR.git") Project Repository.
