extends layout

block body
  h2 Account Recovery Form for 
    font(color='blue') #{user.email}
    | 
  div(style="margin-left: 10%; margin-right: 10%;")
    form(action="" method="post")
      .form-group
        label(for='inputPassword') Enter New Password
        input#inputPassword.form-control(type='password' placeholder='Password' name='password' required='required')
      .form-group
        label(for='inputPasswordConfirm') Confirm Password
        input#inputPasswordConfirm.form-control(type='password' placeholder='Password' name='password_confirm' required='required')
      br
      button.btn.btn-primary(type='submit') Submit
    if error
      br
      div.alert.alert-danger(role="alert") #{error}
